<button class="btn btn-primary" (click)="goBack()" ><i class=" fa fa-reply"> </i> Back </button>

<form #userlogin = "ngForm" (ngSubmit) = "update()" ngNativeValidate >
  <input class='form-control' type = "number" name = "id" placeholder = "id" [(ngModel)]="itemdata.invoicId" readonly  >
  <br/>
  <input class='form-control' type = "number" name = "s_charges" placeholder = "service charges" [(ngModel)]="itemdata.s_charges" required>
  <br/>
  <input class='form-control' type = "number" name = "p_charges" placeholder = "printing charges" [(ngModel)]="itemdata.p_charges" required>
  <br/>
  <input class='form-control' type = "date" name = "date" placeholder = "date" [(ngModel)]="itemdata.date" required>
  <input class='form-control btn btn-success' type = "submit" value = "update">
</form>
